In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [109]:
df_raw = pd.read_csv("all_games.csv")
df = df_raw.copy()

In [110]:
print(df.shape)
df.head()

(18800, 6)

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [111]:
df.dtypes

name            object
platform        object
release_date    object
summary         object
meta_score       int64
user_review     object
dtype: object

In [112]:
# try to convert user_review column to float
for i in df["user_review"]:
    try:
        i = float(i)
    except:
        print(i)
        break

tbd

In [113]:
# how many rows have user_review = tbd ? Drop them
print(df[df["user_review"] == "tbd"].shape)
df = df.drop(df[df["user_review"] == "tbd"].index,axis=0)
df.shape

(1365, 6)

(17435, 6)

In [114]:
# convert user_review to float
df["user_review"] = df["user_review"].astype(float)
df.dtypes

name             object
platform         object
release_date     object
summary          object
meta_score        int64
user_review     float64
dtype: object

In [115]:
# How many rows contain nans? drop them
print(df[df.isna().any(axis=1)].shape)
df = df.dropna(axis=0)
df.shape

(94, 6)

(17341, 6)

In [116]:
df.describe()

         meta_score   user_review
count  17341.000000  17341.000000
mean      71.200738      6.991269
std       12.224246      1.351931
min       20.000000      0.200000
25%       64.000000      6.300000
50%       73.000000      7.300000
75%       80.000000      7.900000
max       99.000000      9.700000

In [118]:
df.platform.unique()

array([' Nintendo 64', ' PlayStation', ' PlayStation 3', ' Dreamcast',
       ' Xbox 360', ' Wii', ' Xbox One', ' PC', ' Switch',
       ' PlayStation 2', ' PlayStation 4', ' GameCube', ' Xbox', ' Wii U',
       ' Game Boy Advance', ' 3DS', ' Xbox Series X', ' DS',
       ' PlayStation Vita', ' PlayStation 5', ' PSP', ' Stadia'],
      dtype=object)

In [ ]:
# convert time to time
# find anything weird in summaries (such as "none" or something)
# start removing special characters from summary